<div>
  <h3>Toutes les ue :</h3>
</div>

<span *ngIf="ues.length>0">
  <div class="card my-5">
    <div class="card-body">
      <table class="table table-bordered table-striped">
        <thead class="thead-dark">
          <tr>
            <th scope="col">UE</th>
            <th scope="col">Discipline</th>
            <th scope="col">Crédits</th>
            <th scope="col">Durée de l'examen</th>
            <td class="pb-0 d-flex justify-content-center "><a routerLink="/addue" class="btn btn-info">Ajouter une UE</a></td>
          </tr>
        </thead>
        <tbody>
          <tr *ngFor="let ue of ues; index as index">
            <td>{{ ue.name }}</td>
            <td>{{ ue.discipline }}</td>
            <td>{{ ue.credit }}</td>
            <td>{{ hoursAndMin[index] }} min</td>
            <td class="d-flex justify-content-center">
              <a [routerLink]="['/ueManagement/'+ue.name]" class="btn btn-info">Modifier</a>
            </td>
          </tr>
        </tbody>
      </table>
    </div>
  </div>
</span>

<span *ngIf="ues.length<=0">
  <div class="m-5 d-flex justify-content-center">
      Aucune UE.
  </div>
</span>

