<div class="card my-5">
  <div class="card-body">
    <table class="table table-bordered table-striped">
      <thead class="thead-dark">
      <tr>
        <th scope="col">UE</th>
        <th scope="col">Discipline</th>
        <th scope="col">Crédits</th>
        <th scope="col">Durée de l'examen</th>
      </tr>
      </thead>
      <tbody>
      <tr *ngFor="let ue of ues; index as index">
        <td>{{ ue.name }}</td>
        <td>{{ ue.discipline }}</td>
        <td>{{ ue.credit }}</td>
        <td>{{ hoursAndMin[index] }} min</td>
        <td class="d-flex justify-content-between">
          <a [routerLink]="['/ueManagement/'+ue.name]" class="btn btn-info">Modifier</a>
          <!-- <a (click)="delete(index)" class="btn btn-danger">Supprimer</a> -->
        </td>
      </tr>
      </tbody>
    </table>
    <a routerLink="/addue" class="btn btn-info">Ajouter une UE</a>
  </div>
</div>
