<div class="container">
  <div class="row">
    <div class="col-md-12">
      <div class="card bg-primary my-5" *ngIf="isLogin">
        <div class="card-body">
          <h2 class="card-title text-center text-white py-3">{{ title }}</h2>
          <ul class="text-center list-inline py-3" *ngIf="role == 'ADMIN'">
            <li class="list-inline-item">
              <a routerLink="/period" class="btn {{getButtonState('exam')}}" (click)="setState('exam')">Gérer les examens et notes</a>
            </li>

            <li class="list-inline-item">
              <a routerLink="/ue" class="btn {{getButtonState('ue')}}" (click)="setState('ue')">Gérer les UE</a>
            </li>
            <li class="list-inline-item">
              <button (click)="logout()" class="btn btn-outline-danger">Déconnecter</button>
            </li>
          </ul>
          <ul class="text-center list-inline py-3" *ngIf="role == 'STUDENT'">
            <li class="list-inline-item">
              <a routerLink="/ueSubscribeable" class="btn {{getButtonState('souscrire')}}" (click)="setState('souscrire')">Souscrire à une UE</a>
            </li>
            <li class="list-inline-item">
              <a routerLink="/inscriptions" class="btn {{getButtonState('inscriptions')}}" (click)="setState('inscriptions')">Mes inscriptions</a>
            </li>
            <li class="list-inline-item">
              <a routerLink="/listPeriod" class="btn {{getButtonState('calendrier')}}" (click)="setState('calendrier')">Calendrier des examens</a>
            </li>
            <li class="list-inline-item">
              <a routerLink="/gradesView" class="btn {{getButtonState('notes')}}" (click)="setState('notes')">Mes notes</a>
            </li>
            <li class="list-inline-item">
              <button (click)="logout()" class="btn btn-outline-danger" >Déconnecter</button>
            </li>
<!--<li><a routerLinkActive="active" routerLink="/home">Home</a></li>
            <li><a routerLinkActive="active" routerLink="/login">Login</a></li>
            <li><a (click)="logout()">Logout</a></li>-->
          </ul>
        </div>
      </div>
      <router-outlet></router-outlet>
    </div>
  </div>
</div>
