<div>
  <h3>Toutes mes inscriptions :</h3>
</div>

<span *ngIf="inscriptions.length>0">
  <div class="card my-5">
    <div class="card-body">
      <table class="table table-bordered table-striped">
        <caption></caption>
        <thead class="thead-dark">
          <tr>
            <th scope="col">UE</th>
            <th scope="col">Discipline</th>
            <th scope="col">Crédits</th>
            <th scope="col">Durée de l'examen</th>
            <th scope="col">Année</th>
          </tr>
        </thead>
        <tbody>
          <ng-template ngFor let-inscription [ngForOf]="inscriptions" let-index="index">
            <ng-template [ngIf] ="(index > 0 && inscription.year != inscriptions[index-1].year) || index == 0">
              <tr style="background-color : lightgrey;">
                <td></td><td></td><td></td><td></td><td>{{inscription.year}}</td>
              </tr>
            </ng-template>
            <tr>
              <td>{{ inscription.ue.name }}</td>
              <td>{{inscription.ue.discipline}}</td>
              <td>{{ inscription.ue.credit }}</td>
              <td>{{hoursAndMin[index]}}</td>
              <td></td>
            </tr>
          </ng-template>
        </tbody>
      </table>
    </div>
  </div>
</span>

<span *ngIf="inscriptions.length<=0">
  <div class="m-5 d-flex justify-content-center">
      Aucune inscription.
  </div>
</span>

