<div *ngIf="listExam.length>0">
  <button *ngIf="listExam.length>0" (click)="onPlan()" class="btn btn-info">Planifier les salles et les horaires</button>
  <p>Exam qui sont actuellement enregistrée dans la période :</p>
  <table class="table table-bordered table-striped">
      <thead class="thead-dark">
        <tr>
          <th scope="col">#</th>
          <th scope="col">Nom de l'UE</th>
          <th scope="col">session</th>
          <th scope="col">La salle</th>
          <th scope="col">Date de début</th>
          <th scope="col">Date de fin</th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let exam of listExam">
          <td>{{ exam.idExam }}</td>
          <td>{{ exam.ue }}</td>
          <td>{{ exam.session }}</td>
          <td>{{ exam.nameRoom }}</td>
          <td>{{ exam.beginDateExam }}</td>
          <td>{{ exam.endDateExam }}</td>
          <td><a [routerLink]="['/grades/exam/',exam.idExam]" class="btn btn-info">Gérer les notes</a></td>
        </tr>
      </tbody>
    </table>
</div>

  <div class="card-body" *ngIf="listUE.length>0">
    <p>Nouvelle exam : </p>
    <form #periodForm="ngForm">
      <div class="form-group">
        <label for="name">Nom de l'UE</label>
        <select class="custom-select form-control" [(ngModel)]="exam.ue" id="ueName" name="ueName">
            <option value="" disabled>Choisisez le nom de l'UE</option>
            <option *ngFor="let ue of listUE" [ngValue]="ue">{{ue}}</option>
         </select>
      </div>
      <div *ngIf="!ueNameVerif" class="alert alert-danger">{{msgNameUe}}</div>
      <div class="form-group">
        <label for="beginDatePeriod">session</label>
        <select class="custom-select form-control" [(ngModel)]="exam.session" id="session" name="session" [value]='1'>
          <option value='1'>1</option>
          <option value='2'>2</option>
        </select>
        <div *ngIf="!sessionVerif" class="alert alert-danger">{{msgSession}}</div>
      </div>

      <button (click)="onSubmit()" class="btn btn-info">Submit</button>
    </form>
  </div>

