<div *ngIf="listExam.length>0">
  <button *ngIf="listExam.length>0" (click)="onPlan()" class="btn btn-info">Planifier les salles et les horaires</button>
  <button *ngIf="isDisable" (click)="initPeriod()" class="btn btn-danger">Réinitialiser les salles et les horaires</button>
  <p>Exam qui sont actuellement enregistrée dans la période :</p>
  <table class="table table-bordered table-striped">
      <thead class="thead-dark">
        <tr>
          <th scope="col">Nom de l'UE</th>
          <th scope="col">session</th>
          <th scope="col">La salle</th>
          <th scope="col">Date de début</th>
          <th scope="col">Date de fin</th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let exam of listExam, index as i">
          <td>{{ exam.ue }}</td>
          <td>{{ exam.session }}</td>
          <td>{{ exam.nameRoom }}</td>
          <td>{{ exam.beginDateExam }}</td>
          <td>{{ exam.endDateExam }}</td>
          <td><a [routerLink]="['/grades/exam/',exam.idExam]" [class.disabled]="!exam.isFinish ||!listHasStudent[i]" class="btn btn-info">Gérer les notes</a></td>
          <!-- <td><a [routerLink]="['/grades/exam/',exam.idExam]" [class.disabled]="!listHasStudent[i]" class="btn btn-info">Gérer les notes</a></td> -->
        </tr>
      </tbody>
    </table>
</div>

  <div class="card-body" *ngIf="listUE.length>0">
    <p>Nouvelle exam : </p>
    <form #periodForm="ngForm">
      <div class="form-group">
        <label>Nom de l'UE</label>
        <select class="custom-select form-control" [(ngModel)]="exam.ue" id="ueName" name="ueName" (ngModelChange)="onChange($event)">
            <option value="" disabled>Choisisez le nom de l'UE</option>
            <option *ngFor="let ue of listUE" [ngValue]="ue">{{ue}}</option>
         </select>
      </div>
      <div *ngIf="!ueNameVerif" class="alert alert-danger">{{msgNameUe}}</div>
      <div class="form-group" *ngIf="sessionVerif">
        <label>session : {{this.exam.session}}</label>
      </div>

      <button (click)="onSubmit()" class="btn btn-info">Submit</button>
    </form>
  </div>

