<div class="card my-5">
    <div class="card-body">
      <form (ngSubmit)="onSubmit()" #periodForm="ngForm">
        <div class="form-group">
          <label for="name">Name</label>
          <input type="text" [(ngModel)]="period.name" 
            class="form-control" 
            id="name" 
            name="name" 
            placeholder="Entrer le nom de la période"
            required #name="ngModel">
        </div>
        <div [hidden]="!name.pristine" class="alert alert-danger">Le nom de la période est requise</div>
        <div class="form-group">
          <label for="beginDatePeriod">date de début de la période</label>
          <input type="date" [(ngModel)]="period.beginDatePeriod" 
            class="form-control" 
            id="beginDatePeriod" 
            name="beginDatePeriod" 
            placeholder="Entrer la date de début de la période"
            required #beginDatePeriod="ngModel">
          <div [hidden]="!beginDatePeriod.pristine" class="alert alert-danger">La date de début est requise.</div>
        </div>
        <div class="form-group">
            <label for="endDatePeriod">date de fin de la période</label>
            <input type="date" [(ngModel)]="period.endDatePeriod"
                class="form-control"
                id="endDatePeriod"
                name="endDatePeriod"
                placeholder="Entrer la date de fin de la période"
                required #endDatePeriod="ngModel">
            <div [hidden]="!endDatePeriod.pristine" class="alert alert-danger">La date de fin est requise.</div>
        </div>
        <button type="submit" [disabled]="!periodForm.form.valid" 
          class="btn btn-info">Submit</button>
      </form>
    </div>
  </div>