<div class="card my-5">
  <div class="card-body">
    <table class="table table-bordered table-striped">
      <thead class="thead-dark">
      <tr>
        <th scope="col">UE</th>
        <th scope="col">Credit</th>
        <th scope="col">Durée de l'examen</th>
        <th scope="col">Discipline</th>
      </tr>
      </thead>
      <tbody>
      <tr *ngFor="let ue of subscribeable_ues; index as index">
        <td>{{ ue.name }}</td>
        <td>{{ ue.credit }}</td>
        <td>{{ hoursAndMin[index] }} min</td>
        <td>{{ ue.discipline }}</td>
        <td class="d-flex justify-content-between">
          <!-- <a (click)="subscribe(ue)" class="btn btn-danger">S'inscrire</a> -->

          <button type = "button" class = "btn btn-info" (click) = "openModal(template)" >S'inscrire</button>
          <ng-template #template >
            <div class = "modal-body text-center" >
              <p> S'inscrire à une Ue implique un engagement de votre part à l'assiduité et à la non possibilité de se rétracter. Confirmez-vous que vous souhaitez vous inscrire à l'Ue {{ue.name}} pour l'année {{current_year}} ? </p>
              <button type = "button" class = "btn btn-default" (click) = "subscribe(ue)" > Oui </button>
              <button type = "button" class = "btn btn-primary" (click) = "decline()"> Non </button>
            </div>
          </ng-template>

        </td>
      </tr>
      </tbody>
    </table>
  </div>
</div>

