<div class="card my-5">
    <div class="card-body">
      <table class="table table-bordered table-striped">
        <thead class="thead-dark">
          <tr>
            <th scope="col">Nom de la période</th>
            <th scope="col">Date de début</th>
            <th scope="col">Date de fin</th>
          </tr>
        </thead>
        <tbody>
          <tr *ngFor="let period of periods">
            <td>{{ period.name }}</td>
            <td>{{ period.beginDatePeriod }}</td>
            <td>{{ period.endDatePeriod }}</td>
            <td><a [routerLink]="['/period', period.id]" class="btn btn-info">Détails</a><button (click)="deletePeriod(period.id)" class="btn btn-danger">Supprimer</button></td>
          </tr>
        </tbody>
      </table>
      <a routerLink="/addperiod" class="btn btn-info">Ajouter une période</a>
    </div>
  </div>
