<div class="card my-5">
  <div class="card-body">
    <!-- <form (ngSubmit)="onSubmit()" #gradesForm="ngForm"> -->
    <div class="d-flex justify-content-center mb-3">
      <button type="button" [disabled]="!isValid" class="btn btn-info" (click)="saveAll()">Sauvegarder les notes et quitter</button>
    </div>
    <table class="table table-bordered table-striped">
      <thead class="thead-dark">
      <tr>
        <th scope="col">FirstName</th>
        <th scope="col">LastName</th>
        <th scope="col">Note</th>
      </tr>
      </thead>
      <tbody>
      <tr *ngFor="let grade of grades; index as i;">
        <td>{{ grade.firstName }}</td>
        <td>{{ grade.lastName }}</td>
        <td>
          <form #gradeform="ngForm">
          <div class="form-group">
            <div class="d-flex justify-content-between">
              <input type="number"
                     [(ngModel)]="grades[i].value"
                     class="form-control mr-3"
                     id="grade"
                     name="grade"
                     min="0"
                     max="20"
                     placeholder="Entrer une note"
                     required #gradeForm="ngModel"
                     (ngModelChange)="checkValidity()">
              <!-- <button type="submit" [disabled]="!gradeform.form.valid" class="btn btn-info">Sauvegarder la note</button> -->
            </div>
            <div [hidden]="!gradeform.invalid" class="alert alert-danger">La note doit être comprise entre 0 et 20 !</div>
          </div>
          </form>
        </td>
      </tr>
      <!-- <button type="submit" [disabled]="!gradesForm.form.valid" class="btn btn-info">Sauvegarder les notes</button> -->
      </tbody>

    </table>
    <div class="d-flex justify-content-center">
      <button type="button" [disabled]="!isValid" class="btn btn-info" (click)="saveAll()">Sauvegarder les notes et quitter</button>
    </div>
    <!-- </form> -->
  </div>
</div>


